In [1]:


!pip install duckdb
import duckdb
import pandas as pd


try:
   
    df = pd.read_csv('/kaggle/input/journal-entries/journal_entry_anomalies.csv')
    
   
    print("--- Data Loading ---")
    print("Successfully loaded CSV. Columns are:", df.columns.tolist())
    
    # Register the pandas DataFrame as a virtual table in DuckDB
    duckdb.register("journal_entries", df)
    
except FileNotFoundError:
    print("--- Data Loading Failed ---")
    print("Error: The file '/kaggle/input/journal-entries/journal_entry_anomalies.csv' was not found.")
    print("Please ensure the file path is correct.")
   
    exit()

print("\n" + "="*50 + "\n") # Separator for clarity



queries_to_run = [
    {
        "title": "Query 1: Top 10 Highest Value Transactions",
        "sql": """
            SELECT *
            FROM journal_entries
            ORDER BY Amount DESC
            LIMIT 10;
        """
    },
    {
        "title": "Query 2: Transactions Posted on a Weekend",
        "sql": """
            SELECT *
            FROM journal_entries
            WHERE DAYOFWEEK(strptime(Date, '%d-%m-%Y')) IN (0, 6); -- Sunday=0, Saturday=6
        """
    },
    {
        "title": "Query 3: Top 10 Users by Number of Entries Made",
        "sql": """
            SELECT
    Created_By,
    COUNT(*) AS EntryCount
FROM
    journal_entries
GROUP BY
    Created_By
ORDER BY
    EntryCount DESC
LIMIT 10;
        """
    },
    {
        "title": "Query 4: Frequently Recurring Transaction Amounts (Potential Automation/Error)",
        "sql": """
            SELECT
                Amount,
                COUNT(*) AS Frequency
            FROM journal_entries
            GROUP BY Amount
            HAVING COUNT(*) > 5
            ORDER BY Frequency DESC;
        """
    },
    {
        "title": "Query 5: Entries with Missing or Blank Descriptions",
        "sql": """
            SELECT *
            FROM journal_entries
            WHERE Description IS NULL OR TRIM(Description) = '';
        """
    },
    {
       # 1. Define 'Write-off' and 'Suspense' as sensitive accounts.
# 2. Assume only 'user1' and 'user5' are authorized to APPROVE transactions in these accounts.
# 3. Find all entries in these accounts that were approved by anyone else (user2, user3, user4).

  "title": "Query 6: Unauthorized Approvals on Sensitive Accounts",
        "sql": """
            SELECT Entry_ID, Date, Account_Name, Amount, Created_By, Approved_By
            FROM journal_entries
            WHERE Account_Name IN ('Write-off', 'Suspense')
              AND Approved_By NOT IN ('user1', 'user5');
              """
    },
    {
        "title": "Query 7: Transactions with Suspicious Dates (Future or Very Old)",
        "sql": """
            SELECT *
            FROM journal_entries
            WHERE
                strptime(Date, '%d-%m-%Y') > CURRENT_DATE OR strptime(Date, '%d-%m-%Y') < '2020-01-01';
        """
    },
    {
        "title": "Query 8: Benford's Law Analysis (First Digit Distribution)",
        "sql": """
            SELECT
                SUBSTRING(CAST(Amount AS VARCHAR), 1, 1) AS FirstDigit,
                COUNT(*) AS Count,
                COUNT(*) * 100.0 / (SELECT COUNT(*) FROM journal_entries WHERE Amount > 0) AS Percentage
            FROM journal_entries
            WHERE Amount > 0
            GROUP BY FirstDigit
            ORDER BY FirstDigit;
        """
    },
    {
        "title": "Query 9: Analysis of Round Number Transactions",
        "sql": """
            SELECT *
            FROM journal_entries
            WHERE Amount % 100 = 0 AND Amount > 0
            ORDER BY Amount DESC;
        """
    },
    {
        "title": "Query 10: Critical Control Failure - Entries Approved by the Same User Who Created Them",
        "sql": """
            SELECT *
            FROM journal_entries
            WHERE Created_By = Approved_By;
        """
    }
]


for query in queries_to_run:
    print(f"--- {query['title']} ---")
    try:
        # Execute the query and fetch the result as a pandas DataFrame
        result_df = duckdb.query(query['sql']).to_df()
        
        # Display the result
        if result_df.empty:
            print("No results found for this query.")
        else:
            print(result_df)
            
    except Exception as e:
        print(f"An error occurred while running the query: {e}")
        
    print("\n" + "="*50 + "\n") # Separator for clarity



print("--- Final Analysis: Top 15 Entries with Highest Anomaly Scores ---")

flags_query = """
SELECT
    *,
    -- Flag for High Value
    (CASE WHEN Amount > 100000 THEN 1 ELSE 0 END) +
    -- Flag for Weekend Entry
    (CASE WHEN DAYOFWEEK(strptime(Date, '%d-%m-%Y')) IN (0, 6) THEN 1 ELSE 0 END) +
    -- Flag for Empty Description
    (CASE WHEN Description IS NULL OR TRIM(Description) = '' THEN 1 ELSE 0 END) +
    -- Flag for Round Number
    (CASE WHEN Amount % 100 = 0 AND Amount > 0 THEN 1 ELSE 0 END) +
    -- Flag for Self-Approval
    (CASE WHEN Created_By = Approved_By THEN 1 ELSE 0 END)
    AS AnomalyScore
FROM
    journal_entries;
"""

try:
    anomalies_df = duckdb.query(flags_query).to_df()
    sorted_anomalies = anomalies_df.sort_values(by='AnomalyScore', ascending=False)
    final_report_df = sorted_anomalies.reset_index(drop=True)
   
    print(final_report_df.head(15))

except Exception as e:
    print(f"An error occurred while calculating anomaly scores: {e}")

Requirement already satisfied: duckdb in /usr/local/lib/python3.11/dist-packages (1.2.2)
--- Data Loading ---
Successfully loaded CSV. Columns are: ['Entry_ID', 'Date', 'Time', 'Account_Name', 'Amount', 'Description', 'Created_By', 'Approved_By', 'Label_Anomaly']

==================================================

--- Query 1: Top 10 Highest Value Transactions ---
   Entry_ID        Date      Time         Account_Name  Amount  \
0        43  06-05-2023  08:57:58                 Loan   49999
1       183  15-03-2023  02:41:55                 Loan   49999
2        45  30-06-2023  13:35:00                 Cash   49999
3       188  11-06-2023  20:21:04             Suspense   49999
4       189  18-06-2023  19:55:09             Suspense   49999
5       179  27-01-2023  04:16:12              Revenue   49921
6        30  13-01-2023  20:34:53                 Cash   49485
7       196  04-04-2023  21:46:15  Accounts Receivable   49408
8       104  06-02-2023  02:03:10                 Loan   49183
9       126  02-03-2023  20:43:58             Suspense   49040

        Description Created_By Approved_By  Label_Anomaly
0              None      user3       user1              1
1        Adjustment      user4       user4              1
2    Invoice issued      user5       user1              1
3              None      user3       user3              1
4    Invoice issued      user3       user3              1
5              None      user1       user2              1
6              None      user2       user2              1
7         Write-off      user4       user2              1
8              None      user5       user3              1
9  Payment received      user4       user1              1

==================================================

--- Query 2: Transactions Posted on a Weekend ---
    Entry_ID        Date      Time         Account_Name  Amount  \
0          7  19-02-2023  22:04:02            Write-off   19065
1         40  23-04-2023  17:45:19            Inventory   42958
2         44  01-01-2023  10:49:08            Write-off   10689
3         49  16-04-2023  21:55:47                 Loan   10533
4         55  14-05-2023  17:43:46            Write-off   13012
5         67  21-05-2023  14:57:10            Write-off   29595
6         68  14-05-2023  15:40:15             Suspense   46862
7         74  30-04-2023  04:39:34                 Cash   38890
8         78  05-03-2023  06:53:01            Inventory    8372
9         94  19-03-2023  00:45:34              Revenue    3673
10        97  28-05-2023  20:43:03              Revenue   36986
11       105  23-04-2023  03:29:44             Suspense   17941
12       106  23-04-2023  02:38:02  Accounts Receivable   39664
13       110  26-03-2023  13:44:31             Suspense   26344
14       112  18-06-2023  17:29:26                 Cash   23809
15       114  08-01-2023  20:38:51              Revenue   20465
16       128  15-01-2023  09:22:23  Accounts Receivable   34910
17       133  28-05-2023  09:44:18                 Cash   43237
18       139  30-04-2023  02:09:48              Revenue   47562
19       147  25-06-2023  11:34:57            Write-off   26192
20       150  26-03-2023  04:50:57            Inventory    9999
21       168  22-01-2023  01:09:10                 Loan   44269
22       171  26-02-2023  12:38:03                 Cash   13943
23       185  04-06-2023  15:32:09                 Cash   22607
24       188  11-06-2023  20:21:04             Suspense   49999
25       189  18-06-2023  19:55:09             Suspense   49999
26       199  05-02-2023  08:03:41  Accounts Receivable   36442
27         8  08-04-2023  08:29:40                 Loan   24360
28        10  29-04-2023  12:17:59            Write-off   14492
29        12  17-06-2023  15:25:56            Write-off   17459
30        16  24-06-2023  23:07:43            Inventory   42106
31        17  22-04-2023  05:29:00            Write-off   17361
32        18  28-01-2023  20:19:53            Write-off   13135
33        27  18-02-2023  03:06:42  Accounts Receivable   27041
34        31  15-04-2023  15:30:13                 Loan    3942
35        41  18-03-2023  21:06:56              Revenue    7114
36        42  11-03-2023  09:38:13            Write-off   45155
37        43  06-05-2023  08:57:58                 Loan   49999
38        51  07-01-2023  21:12:25             Suspense    4649
39        64  17-06-2023  22:00:57                 Loan    7085
40        73  11-03-2023  13:31:01  Accounts Receivable   44608
41        79  25-02-2023  14:44:16                 Loan   39807
42        85  22-04-2023  23:37:17             Suspense    5779
43        86  29-04-2023  18:39:42  Accounts Receivable   32494
44        91  01-04-2023  22:29:17             Suspense    8007
45       103  10-06-2023  18:42:51              Revenue   35788
46       113  14-01-2023  06:17:35              Revenue   28812
47       115  15-04-2023  02:14:53                 Cash    7798
48       120  20-05-2023  12:29:59             Suspense   45811
49       136  10-06-2023  20:02:19                 Loan   38082
50       138  11-03-2023  05:16:58                 Loan   19442
51       158  25-02-2023  13:28:56              Revenue   29820
52       163  28-01-2023  11:54:35             Suspense   18356
53       174  22-04-2023  00:29:58                 Cash   37832
54       177  21-01-2023  12:55:19            Write-off   21927
55       180  10-06-2023  15:29:48            Inventory   29519
56       190  17-06-2023  22:42:25              Revenue    5652
57       198  29-04-2023  09:49:24            Inventory   10720

         Description Created_By Approved_By  Label_Anomaly
0   Payment received      user2       user1              1
1         Adjustment      user1       user5              0
2          Write-off      user4       user5              1
3               None      user1       user4              1
4           Transfer      user4       user1              1
5           Transfer      user2       user3              1
6           Transfer      user2       user3              1
7         Adjustment      user1       user1              1
8               None      user1       user5              1
9         Adjustment      user3       user2              1
10          Transfer      user1       user2              1
11        Adjustment      user5       user4              1
12          Transfer      user1       user1              1
13              None      user5       user1              1
14        Adjustment      user4       user4              1
15        Adjustment      user1       user5              1
16              None      user5       user2              1
17              None      user3       user1              1
18         Write-off      user4       user5              1
19          Transfer      user2       user1              1
20    Invoice issued      user5       user3              1
21  Payment received      user3       user4              1
22              None      user2       user3              1
23         Write-off      user1       user5              0
24              None      user3       user3              1
25    Invoice issued      user3       user3              1
26  Payment received      user5       user1              0
27          Transfer      user2       user3              0
28         Write-off      user3       user1              1
29    Invoice issued      user2       user5              1
30          Transfer      user1       user3              1
31        Adjustment      user2       user5              1
32    Invoice issued      user3       user2              1
33              None      user1       user1              1
34    Invoice issued      user4       user1              0
35         Write-off      user5       user2              1
36         Write-off      user3       user5              1
37              None      user3       user1              1
38              None      user3       user3              1
39              None      user4       user2              1
40              None      user4       user2              1
41        Adjustment      user1       user2              0
42          Transfer      user4       user2              1
43              None      user3       user2              1
44         Write-off      user2       user3              1
45    Invoice issued      user2       user3              0
46         Write-off      user4       user1              1
47         Write-off      user2       user4              1
48    Invoice issued      user5       user4              1
49          Transfer      user2       user1              1
50         Write-off      user3       user1              1
51              None      user4       user1              1
52        Adjustment      user2       user4              1
53              None      user5       user4              1
54              None      user2       user1              1
55         Write-off      user5       user5              1
56          Transfer      user5       user4              1
57              None      user2       user5              1

==================================================

--- Query 3: Top 10 Users by Number of Entries Made ---
  Created_By  EntryCount
0      user5          43
1      user2          41
2      user4          41
3      user3          40
4      user1          35

==================================================

--- Query 4: Frequently Recurring Transaction Amounts (Potential Automation/Error) ---
   Amount  Frequency
0   19999          6

==================================================

--- Query 5: Entries with Missing or Blank Descriptions ---
    Entry_ID        Date      Time         Account_Name  Amount Description  \
0          3  24-05-2023  06:45:41            Write-off   14546        None
1          4  02-01-2023  05:44:27             Suspense   14210        None
2          5  24-01-2023  12:06:22                 Loan   17435        None
3         26  19-05-2023  04:46:59            Inventory   16025        None
4         27  18-02-2023  03:06:42  Accounts Receivable   27041        None
5         29  25-04-2023  04:27:11             Suspense    5040        None
6         30  13-01-2023  20:34:53                 Cash   49485        None
7         43  06-05-2023  08:57:58                 Loan   49999        None
8         47  23-02-2023  21:15:42                 Cash   36792        None
9         49  16-04-2023  21:55:47                 Loan   10533        None
10        51  07-01-2023  21:12:25             Suspense    4649        None
11        53  29-05-2023  08:02:06            Inventory   47845        None
12        59  15-03-2023  06:27:50            Inventory   21218        None
13        62  20-02-2023  04:01:02              Revenue   40160        None
14        63  17-04-2023  20:36:12            Write-off   32499        None
15        64  17-06-2023  22:00:57                 Loan    7085        None
16        65  15-02-2023  22:33:29                 Cash    8053        None
17        69  27-03-2023  10:57:34                 Cash   15255        None
18        73  11-03-2023  13:31:01  Accounts Receivable   44608        None
19        75  14-06-2023  13:08:55  Accounts Receivable   17149        None
20        77  05-01-2023  23:34:03             Suspense    4596        None
21        78  05-03-2023  06:53:01            Inventory    8372        None
22        80  21-03-2023  03:37:01             Suspense   24696        None
23        81  01-06-2023  22:53:40              Revenue   19864        None
24        84  15-02-2023  23:33:41             Suspense   35369        None
25        86  29-04-2023  18:39:42  Accounts Receivable   32494        None
26        90  20-03-2023  21:37:23  Accounts Receivable   22628        None
27        95  13-06-2023  15:06:55                 Cash   30862        None
28        96  17-02-2023  01:16:55  Accounts Receivable    4382        None
29       104  06-02-2023  02:03:10                 Loan   49183        None
30       107  28-02-2023  21:53:55            Inventory    1459        None
31       110  26-03-2023  13:44:31             Suspense   26344        None
32       111  27-04-2023  02:20:16             Suspense   26588        None
33       117  07-02-2023  12:12:58            Inventory    9046        None
34       121  01-03-2023  13:02:20            Write-off   25084        None
35       124  28-03-2023  19:44:25            Write-off   19999        None
36       128  15-01-2023  09:22:23  Accounts Receivable   34910        None
37       132  27-04-2023  09:12:24                 Loan   15645        None
38       133  28-05-2023  09:44:18                 Cash   43237        None
39       134  25-05-2023  21:49:47                 Cash   48935        None
40       135  05-06-2023  11:14:40              Revenue   44517        None
41       140  04-04-2023  02:50:25                 Cash    8199        None
42       141  30-05-2023  12:52:40             Suspense   15423        None
43       142  24-05-2023  10:58:39              Revenue   41741        None
44       143  16-06-2023  13:07:08                 Cash   20046        None
45       146  09-01-2023  22:23:13  Accounts Receivable   15573        None
46       151  14-02-2023  03:42:55                 Cash   23577        None
47       154  12-01-2023  23:50:58                 Loan   19867        None
48       157  02-06-2023  16:18:29            Inventory    6599        None
49       158  25-02-2023  13:28:56              Revenue   29820        None
50       160  24-01-2023  02:05:27                 Cash   24521        None
51       169  19-06-2023  13:31:38  Accounts Receivable   14227        None
52       171  26-02-2023  12:38:03                 Cash   13943        None
53       174  22-04-2023  00:29:58                 Cash   37832        None
54       177  21-01-2023  12:55:19            Write-off   21927        None
55       179  27-01-2023  04:16:12              Revenue   49921        None
56       188  11-06-2023  20:21:04             Suspense   49999        None
57       194  10-01-2023  21:21:56                 Loan   39241        None
58       195  16-02-2023  22:49:39                 Loan   47363        None
59       198  29-04-2023  09:49:24            Inventory   10720        None

   Created_By Approved_By  Label_Anomaly
0       user5       user3              1
1       user3       user1              1
2       user1       user4              1
3       user4       user4              1
4       user1       user1              1
5       user5       user1              1
6       user2       user2              1
7       user3       user1              1
8       user4       user5              1
9       user1       user4              1
10      user3       user3              1
11      user3       user4              1
12      user4       user4              1
13      user1       user4              1
14      user2       user2              1
15      user4       user2              1
16      user2       user4              1
17      user2       user2              1
18      user4       user2              1
19      user3       user2              1
20      user1       user1              1
21      user1       user5              1
22      user2       user1              1
23      user5       user1              1
24      user4       user4              1
25      user3       user2              1
26      user5       user3              1
27      user4       user3              1
28      user4       user1              1
29      user5       user3              1
30      user3       user5              1
31      user5       user1              1
32      user5       user1              1
33      user1       user3              1
34      user2       user4              1
35      user5       user4              1
36      user5       user2              1
37      user5       user3              1
38      user3       user1              1
39      user3       user2              1
40      user2       user1              1
41      user3       user3              1
42      user1       user5              1
43      user4       user3              1
44      user1       user1              1
45      user3       user1              1
46      user2       user5              1
47      user1       user1              1
48      user1       user5              1
49      user4       user1              1
50      user2       user5              1
51      user5       user1              1
52      user2       user3              1
53      user5       user4              1
54      user2       user1              1
55      user1       user2              1
56      user3       user3              1
57      user2       user2              1
58      user1       user4              1
59      user2       user5              1

==================================================

--- Query 6: Unauthorized Approvals on Sensitive Accounts ---
    Entry_ID        Date Account_Name  Amount Created_By Approved_By
0          3  24-05-2023    Write-off   14546      user5       user3
1         18  28-01-2023    Write-off   13135      user3       user2
2         56  20-06-2023    Write-off   47269      user5       user3
3         57  20-06-2023    Write-off    8441      user4       user4
4         63  17-04-2023    Write-off   32499      user2       user2
5         67  21-05-2023    Write-off   29595      user2       user3
6         72  10-04-2023    Write-off   39634      user4       user2
7         92  31-01-2023    Write-off   14280      user4       user3
8        102  16-03-2023    Write-off   29855      user2       user3
9        108  11-01-2023    Write-off   18329      user5       user4
10       121  01-03-2023    Write-off   25084      user2       user4
11       124  28-03-2023    Write-off   19999      user5       user4
12       148  27-04-2023    Write-off    1499      user3       user2
13        39  10-05-2023     Suspense   16109      user3       user2
14        51  07-01-2023     Suspense    4649      user3       user3
15        61  12-05-2023     Suspense    9999      user3       user2
16        66  20-06-2023     Suspense   29104      user5       user4
17        68  14-05-2023     Suspense   46862      user2       user3
18        83  18-04-2023     Suspense   30229      user2       user4
19        84  15-02-2023     Suspense   35369      user4       user4
20        85  22-04-2023     Suspense    5779      user4       user2
21        91  01-04-2023     Suspense    8007      user2       user3
22       105  23-04-2023     Suspense   17941      user5       user4
23       109  12-06-2023     Suspense   21140      user1       user2
24       120  20-05-2023     Suspense   45811      user5       user4
25       122  10-01-2023     Suspense   28955      user5       user4
26       130  06-02-2023     Suspense   43802      user4       user3
27       156  05-06-2023     Suspense   38462      user3       user4
28       163  28-01-2023     Suspense   18356      user2       user4
29       165  16-02-2023     Suspense   23104      user2       user2
30       188  11-06-2023     Suspense   49999      user3       user3
31       189  18-06-2023     Suspense   49999      user3       user3
32       192  15-06-2023     Suspense   19999      user2       user3

==================================================

--- Query 7: Transactions with Suspicious Dates (Future or Very Old) ---
No results found for this query.

==================================================

--- Query 8: Benford's Law Analysis (First Digit Distribution) ---
  FirstDigit  Count  Percentage
0          1     54        27.0
1          2     45        22.5
2          3     38        19.0
3          4     41        20.5
4          5      4         2.0
5          6      2         1.0
6          7      4         2.0
7          8      6         3.0
8          9      6         3.0

==================================================

--- Query 9: Analysis of Round Number Transactions ---
No results found for this query.
